
.vscode/*
c_templates/a.cpp
a.exe
tests/
whitebox.exe
compiled.cpp
compiled.rs
*.bin
*.pem
*.exe
make.py
__pycache__/
__pycache__/whitebox-generator.cpython-38.pyc
dec.bin
/old
/whitebox-build


# Added by cargo

/target
